#**
 * msg
 *
 * Shorthand macro to retrieve locale sensitive message from language.properties
 *#
#macro(msg $key)
    $messages.getMessage($key,null,$locale)
#end

#macro(msgArgs $key, $args)
    $messages.getMessage($key,$args.toArray(),$locale)
#end