.with-error {
    border-color: red !important;
}

.error-number {
    color: $primary-color;
    border: $primary-color solid 5px;
    border-radius: 10px;
    max-width: 180px;
    font-size: 75px;
}

.error-title {
    color: $primary-color;
    font-size: 60px;
}

.action-call-box {
    border: $primary-color solid 2px;
    border-radius: 10px;
}

.action-call-message {
    color: black;
    font-size: 25px;
}