pre {
  white-space: pre-wrap !important;
  white-space: -moz-pre-wrap !important;
  white-space: -o-pre-wrap !important;
  word-wrap: break-word !important;
  margin: 0px !important;
  overflow: hidden !important;
}

code {
  font-family: "Roboto Mono", "New Courier", monospace;
  font-size: 13px !important;
  padding: 0px !important;
  overflow: hidden !important;
}

img {
  border-radius: 50%;
  object-fit: cover;
  height: 45px;
  width: 45px;
}

.no-decoration {
  text-decoration: none;
  color: inherit;
}

.no-decoration:hover {
  text-decoration: none;
  color: inherit;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Text Properties */
* {
  font-family: Roboto, "sans-serif";
}
