@import "variables";

pre {
  white-space: pre-wrap !important;
  white-space: -moz-pre-wrap !important;
  white-space: -o-pre-wrap !important;
  word-wrap: break-word !important;
  margin: 0px !important;
  overflow: hidden !important;
}

code {
  font-family: "Roboto Mono", "New Courier", monospace;
  font-size: 13px !important;
  padding: 0px !important;
  overflow: hidden !important;
}

img {
  border-radius: 50%;
  object-fit: cover;
  height: 45px;
  width: 45px;
}

body{
  background-color: $app-background-color !important;
}

.no-decoration {
  text-decoration: none;
  color: inherit;
}

.no-decoration:hover {
  text-decoration: none;
  color: inherit;
}

.inner-square {
  background-color: white;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

/* Text Properties */
* {
  font-family: Roboto, "sans-serif";
}

.fw-100 {
  font-weight: 100 !important;
}
.fw-300 {
  font-weight: 300 !important;
}
.fw-400 {
  font-weight: 400 !important;
}
.fw-500 {
  font-weight: 500 !important;
}
.fw-700 {
  font-weight: 700 !important;
}
.fw-900 {
  font-weight: 900 !important;
}

.align-items-vertical {
  display: flex !important;
  align-items: center;
}

.align-items-horizontal-right {
  text-align: end;
}

.align-items-horizontal-center {
  text-align: center;
  justify-content: center;
}

.no-focus:focus{
  outline: none !important;
}

.no-margin {
  margin: 0px !important;
}

.no-padding {
  padding: 0px !important;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.primary-text {
  color: $primary-color;
}

.link-text {
  cursor: pointer;
  color: $primary-color !important;
}

.link-text:hover {
  text-decoration: underline;
}

// Syntax highlighting
.snippet-code-block pre, .card-snippet-block pre {
  background: none !important;
  width: 100% !important;
}