@import "variables";

.verify-message {
  border: $primary-color solid 2px;
  color: $primary-color;
  border-radius: 10px;
}

.verify-message h3,
.verify-message span {
  color: rgb(252, 245, 245);
}

.profile-tabs-width {
  width: 50%;
}

.profile-tabs {
  border-radius: 8px 8px 0px 0px;
}

.profile-photo {
  border: white solid 2px;
  height: 200px;
  width: 200px;
  object-fit: cover;
  margin: 25px;
  transition: 0.3s;
}

.profile-username {
  font-size: 40px;
}

.profile-stat {
  font-size: 22px;
}

.profile-stat-num {
  font-size: 35px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: -11px;
}

.profile-small-text {
  font-size: 17px;
}

.profile-user-data {
  background-color: $primary-color;
  padding-left: 50px !important;
  padding-right: 28px !important;
}
