@import "variables";

.verify-message {
  border: $primary-color solid 2px;
  color: $primary-color;
  border-radius: 10px;
}

.verify-message h3,
.verify-message span {
  color: black;
}

.profile-tabs {
  width: 50%;
}

.profile-photo {
  border: black solid 2px;
  height: 200px;
  width: 200px;
  object-fit: cover;
  margin: 25px;
  transition: 0.3s;
}

.profile-stat {
  font-size: 22px;
}

.profile-stat-num {
  font-weight: bold;
}

.profile-small-text {
  font-size: 17px;
}
