.detail-container {
  max-width: 1000px;
}

.danger-message {
  border: red solid 2px;
  color: red;
  border-radius: 10px;
}

.reported-message {
  border: $reported-color solid 2px;
  color: $reported-color;
  border-radius: 10px;
  position: relative;
}

.reported-message .reported-close-icon {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.snippet-divider {
  border: black solid 2px;
}

.boxed-content {
  @extend .align-items-vertical;
  border: 2px $primary-color solid;
  border-radius: 8px;
  min-width: 100px;
  min-height: 100px;
  display: inline-block;

  &-link {
    @extend .boxed-content;
    text-decoration: none;
  }

  &-link:hover {
    @extend .boxed-content;
    text-decoration: none;
  }
}

.snippet-code-block {
  background: $code-background-color;
  overflow-y: auto;
}
