#parse("/templates/macros/macro.vm")
<head>
    <meta charset="UTF-8">
    <title>Welcome to Snippit!</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        * {
            font-family: Roboto, "sans-serif";
            box-sizing: border-box;
        }

        body {
            background-color: #eeedf2;
            width: 100%;
        }

        ul {
            margin: 0;
            padding: 0;
        }

        li {
            margin: 5px;
            list-style-type: none;
        }

        body {
            background-color: #5E35B1;
            margin: 0;
            line-height: inherit !important;
        }

        .mid-container {
            background-color: #eeedf2;
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;
            padding-bottom: 20px;
            width: 100%;
        }

        .mid-container-info {
            padding: 20px;
        }

        .disclaimer {
            color: grey;
            font-size: 12px;
        }

        *:focus {
            outline: none;
        }

        .fw-100 {
            font-weight: 100;
        }

        .fw-300 {
            font-weight: 300;
        }

        .fw-500 {
            font-weight: 500;
        }

        .white-text {
            color: white !important;
        }

        .black-text {
            color: black !important;
        }

        .title-container {
            font-size: 30px !important;
            padding: 10px 0 10px 0;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            background: #5E35B1;
        }

        .bottom-container {
            max-height: 100px;
            padding: 10px;
            width: 100%;
        }

        .greeting {
            margin-top: 30px;
            margin-bottom: 30px;
            font-size: 25px;
        }

        .info {
            font-size: medium;
        }

        .center {
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        .left-justify {
            justify-content: flex-start;
            max-width: 90%;
        }

        .ml-2-5 {
            margin-left: 2.5%;
        }
    </style>
</head>
<body>
<div class="full-width">
    <div class="fw-100 mid-container">
        <div class="center white-text fw-300 title-container">
            <span class="fw-500">#msg("email.app.title")</span>
        </div>
        <div class="mid-container-info">
            <h1 class="left ml-2-5 black-text greeting">
                #msg("email.recovery")
            </h1>
            <p class="left ml-2-5 black-text info full-width">
                #msgArgs("email.recovery.mainText", [${username}, ${recoveryURL}])
            </p>
        </div>
    </div>
</div>
<div class="bottom-container fw-100 center disclaimer">
    #msgArgs("email.recovery.disclaimer", [${userEmail}])
</div>
<div class="bottom-container fw-100 center disclaimer">
    #msg("email.end")
</div>
</body>
</html>