
.tag-snippets-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 30px;
    grid-template-rows: max-content;
    padding: 40px;
}

.element-snippets-top-container {
    padding: 10px 40px 0px 40px;
}

.tag-snippets-button {
    background: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
    font-size: 18px;
    margin: 0px 0px 0px 40px;
    min-height: 45px;
    padding: 10px;
    transition: 0.3s;
}

.tag-snippets-button:hover {
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}