/*
 * CSS for the snippet tags and languages --> element.jsp
 */

.tag-text {
    font-size: 13px;
    color: black;
}

.tag-container-detail {
    background: #f7f7f7;
    border: 1px solid #DCDCDC;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    color: inherit;
    text-decoration: none;
    transition: 0.3s;
    padding: 8px;
}

.tag-container-detail:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.element-title {
    font-size: 16px;
    height: 100%;
    text-align: center;
    padding: 15px 10px;
}

.element-container-main{
    background: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    color: inherit;
    transition: 0.3s;
    width: 100%;
}

.element-container-main:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.no-elements {
    font-size: 30px;
    padding: 50px;
}

