
.all-elements-grid {
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.detail-grid {
    padding: 10px 20px 20px 20px;
    grid-gap: 10px;
}

.main-grid {
    padding: 10px 40px;
    grid-gap: 20px;
    margin: 20px 0 10px 0;
}

.element-result-amount {
    margin: 8px 0px 0px 0px;
}
