.error-page-main {
    padding: 45px;
}

.link-button {
    border: #5e35b1;
    border-width: 2px;
    border-style: solid;
    background: rgba(150, 148, 201, 0.84);
    text-decoration: none;
    color: black;
    padding: 10px;
    transition: 0.3s;
}

.link-button:hover {
    background: #5e35b1;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.error-page-main .error-code  {
    background-color: #DCDCDC;
    border: solid 8px #5e35b1;
    color: #5e35b1;
    font-size: 75px;
    margin: 20px;
    padding: 10px
}

.error-page-main h2 {
    margin: 0px 0px 10px 15px;
    text-align: center;
}

.error-page-main h3 {
    margin: 10px 0px 25px 0px;
    text-align: center;
}

.error-dialog {
    border: solid 2px #5e35b1;
    margin: 20px;
    padding: 30px;
}

.error-page-not-found {
    font-style: italic;
    color: #5e35b1;
    font-size: 50px;
    margin: 0px 0px 15px 0px;
}

.form-error {
    color:red;
    text-wrap: normal;
}