/*
 * CSS used for the snippet feed --> snippetFeed.jsp
 */

.feed-snippets-grid {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-auto-rows: 21px;
    padding: 30px;
}

.feed-background-color {
    background: cadetblue;
}

/*
 * repeat --> create multiple similar columns
 * auto-fill --> create as many columns will fit in the available grid width
 * minmax(Xpx,1fr) --> the columns should have minimum width of X px and a flexible maximum width which is the same for each column
 */





