
.chip-list-container {
    align-items: center;
    border: 3px solid white;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 0px 20px 20px;
}

.chip-container {
    border: 2px solid rebeccapurple;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    margin: 5px;
    height: 40px;
    width: 188px;
}

.chip-container:hover {
    background-color: white;
}

.chip-name {
    align-items: center;
    display: flex;
    margin: 0px 14px;
    width: 125px;
}

.chip-delete-icon {
    color: #DCDCDC;
    font-size: 44px !important;
    left: 184px;
    margin: -22px 0px 0px 0px;
    position: absolute;
}

.chip-delete-icon:hover {
    color: #999999;
}