/* General CSS stylesheet for all the project */

/* SNIPPIT ICON */
.app-icon {
    font-size: 55px !important;
}

/* Text Properties */
* {
    font-family: Roboto, "sans-serif";
    box-sizing: border-box;
}

body {
    background-color: #eeedf2 !important;
    margin: 0;
    line-height: inherit !important;
}

*:focus {
    outline: none;
}

.fw-100 { font-weight: 100; }
.fw-300 { font-weight: 300; }
.fw-400 { font-weight: 400; }
.fw-500 { font-weight: 500; }
.fw-700 { font-weight: 700; }
.fw-900 { font-weight: 900; }

.justify-text {
    text-align: justify;
}

.white-text {
    color: white !important;
}

.black-text {
    color: black !important;
}

.purple-text {
    color: #5E35B1 !important;
}

.title-container {
    font-size: 50px;
    margin: 20px 0px 10px 0px;
}

.no-text-decoration {
    color: inherit;
    text-decoration: none;
    text-decoration-color: black;
}

/* Flex Properties CSS */

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-left {
    display: flex;
    align-items: flex-start;
}

.flex-right {
    display: flex;
    align-items: end;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-stretch {
    align-items: stretch;
}

.flex-grow {
    flex-grow: 1;
}

.flex-end {
    justify-content: flex-end;
}


/* Border Properties CSS */

.no-margin {
    margin: 0px;
}

.form-container {
    margin-block-end: 0em !important;
}

.border-radius {
    border-radius: 8px;
}

/* Common Event Styles */

.clickable-entity {
    cursor: pointer;
}

/* Extra */

.hidden {
    position: fixed;
    visibility: hidden;
    height: 0px;
    width: 0px;
}

.full-width {
    width: 100%;
}

.panel {
    background: lightcyan;
    border: #00a7b3 1px solid;
    border-radius: 8px;
}

.divider {
    margin-left: 100px;
    margin-right: 100px;
}

.page-title {
    font-size: 50px;
}

.title-section {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 15px;
}