/* CSS for the favorite icon --> favForm.jsp */

.selected-red-icon {
    color: crimson !important;
}

.unselected-red-icon:hover {
    color: crimson !important;
}

.unselected-red-icon {
    color: gray !important;
    transition: 0.3s;
}

.delete-snippet-icon {
    color: gray !important;
    transition: 0.3s;
}

.delete-snippet-icon:hover {
    color: black !important;
}

.flagged-warning-icon {
    color: red;
    font-size: 70px !important;
    margin: 5px 15px 5px 0px;
    transition: 0.3s;
}

.card-flagged-warning-icon {
    color: red;
    font-size: 30px !important;
    height: 30px;
    margin: 0px 15px 0px 0px;
}

.delete-element-icon {
    border: gray solid;
    color: gray;
    cursor:pointer;
    font-size: 40px !important;
    margin: 0px 0px 0px 30px;
    padding: 5px;
    transition: 0.3s;
}

.delete-element-icon:hover {
    border: black solid;
    color: black;
}