/* CSS for the favorite icon --> favForm.jsp */

.selected-icon {
    color: crimson !important;
}

.unselected-icon:hover {
    color: crimson;
}

.unselected-icon {
    color: gray !important;
}

.flagged-warning-icon {
    color: red;
    font-size: 70px !important;
    margin: 5px 15px 5px 0px;
}

.card-flagged-warning-icon {
    color: red;
    font-size: 30px !important;
    height: 30px;
    margin: 0px 15px 0px 0px;
}

.delete-element-icon {
    color: gray;
    font-size: 30px !important;
}