/*----------------------------Config for content thats not the nav bar --------------------------- */

.wrapper{
    position:absolute;
    right: 175px;
    left: 0px;
}

.wrapper .main-content{
    padding-top:30px;
    width:100%;
    margin-left:180px;
    margin-top:45px;
    background: #f0ffff;
}

/*----------------------------Side nav bar --------------------------- */

.wrapper .sidebar{
    position: fixed;
    width: 180px;
    height: 100%;
    background: darkslategrey;
    padding: 40px 0;
    z-index:999;
}

.wrapper .sidebar ul{
    padding:0px;
}

.wrapper .sidebar ul li{
    padding: 15px;
    text-align: left;
}

.wrapper .sidebar ul li a{
    color: white;
    font-weight: bold;
    display:block;
    text-decoration:none;
}

.wrapper .sidebar ul li:hover{
    background: #86b0b3;
}

.menu-selected {
    background: #86b0b3;
    border-left: #00a7b3;
    border-left-style: solid;
    border-left-width: 5px;
}


/*-----------------------------Top nav bar---------------------------------*/

* {box-sizing: border-box;}

body {
    margin: 0;
}

.wrapper .navtop {
    overflow: hidden;
    position:fixed;
    width:100%;
    background-color: #00a7b3;
    z-index:999;
    display: flex;
}

.navtop a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 17px;
}
.navtop .app-name{
    background-color: darkslategrey;
    color:white;
    width:180px;
    letter-spacing: 2px;
    font-size: 26px;
    border-bottom: white;
    border-bottom-width: thin;
    border-bottom-style: solid;
}

/*.navtop .app-name:hover{*/
/*    background: #ccc;*/
/*}*/

.navtop .search-container {
    float: right;
    overflow:hidden;
    padding: 10px;
    flex-basis: 75%;
    min-width: 50%;
}

.navtop .search-container button:hover {
    background: #ccc;
    display: flex;
}

.navtop .search-container .dropdown-type {
    float: left;
    margin-top: 2px;
    margin-right: 5px;
}
.navtop .search-container .dropdown-type select{
    width: 100px;
    height: 25px;
    padding: 4px;
    border-radius:4px;
    box-shadow: 2px 2px 8px #999;
    background: #eee;
    border: none;
    outline: none;
    -webkit-appearance:none;
    cursor: pointer;
}


.navtop .search-container .search-bar{
    float: left;
    margin-left: 20px;
    width:550px;
    /*min-width: 65%;*/
}

.navtop .search-input{
    padding: 6px;
    font-size: 17px;
    border: none;
    height:29px;
    flex-basis: 60%;
    width: 480px;
    float: left;
}

.navtop .search-container button {
    float: left;
    left: 0;
    padding: 6px 10px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}



