/*----------------------------Config for content thats not the nav bar --------------------------- */

.wrapper{
    position:absolute;
    right: 0;
    left: 0;
    background-color: inherit;
}

.wrapper .main-content{
    padding-top:30px;
    width:100%;
    /*margin-left:180px;*/
    margin-top:45px;
    background-color: inherit;
}

/*----------------------------Side nav bar --------------------------- */
.open {
    width: 180px !important;
}

.sidenav {
    height: 100%;
    padding-top: 55px;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #2a2a2a;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav li {
    margin-top: 3px;
    margin-right: 3px;
    padding: 8px;
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.5s;
}

.sidenav li a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.sidenav ul {
    margin: 0;
    padding-left: 10px;
    text-decoration: none !important;
    /*display: inline-block;*/
    /*word-break: break-word;*/
}

.sidenav li:hover {
    background-color: rgba(150, 148, 201, 0.84);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav li {font-size: 18px;}
}

.menu-selected {
    background: rgba(150, 148, 201, 0.84);
    border-right: #5e35b1;
    border-right-style: solid;
    border-right-width: 5px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.sidenav .section-title {
    color: white;
}

/*-----------------------------Top nav bar---------------------------------*/

.wrapper .navtop {
    overflow: hidden;
    position: fixed;
    width:100%;
    background-color: #5e35b1;
    z-index:999;
    display: flex;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.navtop a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    /*font-size: 17px;*/
}
.navtop .app-name{
    color:white;
    width:150px;
    letter-spacing: 2px;
    font-size: 26px !important;
    display: flex !important;
}

.navtop .app-icon{
    color:white;
    font-size: 26px !important;
    display: flex !important;
    align-items: center !important;
    margin-right: 5px;
}

/*
.navtop .app-name:hover{*/
/*    background: #ccc;*/
/*}
*/

#searchForm {
    margin: 0;
}

.menu-icon{
    margin-left: 20px;
    text-align: center;
    font-size: 30px !important;
    cursor: pointer;
    color: white;
    display: flex !important;
}

.navtop .search-container {
    float: right;
    overflow:hidden;
    padding: 5px;
    flex-basis: 75%;
    min-width: 50%;
}

.navtop .search-container button:hover {
    background: #ccc;
    display: flex;
}

.navtop .search-container .dropdown-type {
    float: left;
    margin-top: 2px;
    margin-right: 5px;
}
.navtop .search-container .dropdown-type select{
    width: 100px;
    height: 25px;
    padding: 4px;
    border-radius:4px;
    box-shadow: 2px 2px 8px #999;
    background: #eee;
    border: none;
    outline: none;
    -webkit-appearance:none;
    cursor: pointer;
}


.navtop .search-container .search-bar{
    float: left;
    margin-left: 20px;
    width:550px;
    /*min-width: 65%;*/
}

.navtop .search-input{
    padding: 6px;
    font-size: 17px;
    border: none;
    height:40px;
    flex-basis: 60%;
    width: 480px;
    float: left;
    border-radius: 5px 0px 0px 5px;
    background-color: #eeedf2;
}

.navtop .search-icon {
    font-size: 28px;
}

.navtop .search-container button {
    float: left;
    left: 0;
    padding: 6px 10px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 0px 5px 5px 0px;
}



