.detail-user {
    margin: 0px 15px 5px;
    min-height: 94px;
    min-width: 94px;
}

.profile-info {
    margin: 10px 30px 10px 10px;
    justify-content: center;
}

.profile-info .profile-info-item {
    padding-top: 15px;
}

.profile-username {
    font-size: 30px;
}

.profile-description {
    display: inline-block;
    font-size: 20px;
    word-break: break-word;
    padding: 0;
}

.profile-container-margin {
    margin: 9px 0px 0px 0px;
}

.profile-date {
    font-size: 10px;
}

.profile-stats .flex-column {
    margin: 10px;
}

.profile-photo {
    border: black solid 2px;
    height: 200px;
    width: 200px;
    object-fit: cover;
    margin: 25px;
    transition: 0.3s;
}

.edit {
    cursor: pointer;
}

.profile-photo-edit-icon {
    position: absolute;
    font-size: 100px !important;
    color: black;
    opacity: 0;
    transition: 0.3s;
    cursor: pointer;
}

.profile-photo-wrap {
    position: relative;
}

.profile-photo-wrap:hover .profile-photo-edit-icon{
    opacity: 1;
}

.profile-photo-wrap:hover .profile-photo{
    opacity: 0.7;
    background-color: grey;
}

.image-confirm-button {
    border: 2px #5E35B1 solid;
    text-decoration: none;
    border-radius: 10px;
    font-size: 15px;
    padding: 3px 10px;
    transition: 0.3s;
    text-align: center;
    margin-right: 5px;
    color: #5E35B1;
    cursor: pointer;
}

.image-confirm-button:hover {
    background-color: rgba(196, 196, 196, 0.65);
}

.image-discard-button {
    border: 2px #5E35B1 solid;
    text-decoration: none;
    border-radius: 10px;
    font-size: 15px;
    padding: 3px 10px;
    transition: 0.3s;
    text-align: center;
    margin-left: 5px;
    color: #5E35B1;
    cursor: pointer;
}

.image-discard-button:hover {
    background-color: rgba(196, 196, 196, 0.65);
}

.hidden-button {
    visibility: hidden;
    height: 0;
    width: 0;
    opacity: 0;
}

.visible {
    visibility: visible;
    opacity: 1;
}

.stat {
    font-size: 20px;
    margin-right: 4px;
}

.stat-bundle {
    margin-right: 20px;
}

.profile-no-snippet {
    font-size: 30px;
    padding: 50px;
}

.edit-button {
    border: 2px #5E35B1 solid;
    text-decoration: none;
    border-radius: 10px;
    font-size: 14px;
    padding: 3px 10px;
    margin-left: 20px;
    transition: 0.3s;
    text-align: center;
    margin-bottom: 5px;
}

.edit-button:hover {
    background-color: rgba(196, 196, 196, 0.65);
}


.verify-email-container {
    border: solid #5E35B1 2px;
    margin:30px 10px 2px 10px;
    padding: 12px;
    width: 720px;
}

.verify-email-container h3 {
    color: #404040;
    margin: 0px;
}

.verify-email-container p {
    color: #404040;
    font-size: 15px;
    margin: 0px;
}

.verify-message-container {
    height: 80px;
    justify-content: center;
    padding: 0px 5px;
}

.general-info {
    margin: 20px 0px 0px 0px;
}

.tabs-container {
    height: 50px;
    margin: 0px 100px;
}

.tabs-item-container {
    width: 50%;
    height: 100%;
    border: 2px #5E35B1 solid;
    color: #503499;
}
.tabs-item-selected {
    background-color: rgba(196, 196, 196, 0.65);
}
.tabs-item-container:hover {
    background-color: rgba(196, 196, 196, 0.65);
}

.tabs-first-item {
    border-radius: 8px 0px 0px 8px;
}

.tabs-second-item {
    border-radius: 0px 8px 8px 0px;
}