
.register-form {
    background-color: white;
    margin: 20px;
    max-width: 500px;
    padding: 40px
}

.register-block {
    background-color: #5E35B1;
    padding: 40px;
    width: 700px;
    margin: 20px 0 20px 0;
}

.register-form-data {
    padding: 10px;
}

.register-form-title {
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 30px;
}

.register-field-container {
    margin: 5px;
}

.register-field-size {
    font-size: 17px;
    height: 50px;
    width: 450px;
}

.register-field-padding {
    padding: 15px 15px 15px 48px !important;
}

.register-text-container{
    margin: 10px;
}

.register-text-error{
    margin: -15px 0px 10px 0px;
}

.register-text-space {
    margin: 0px 0px 0px 5px;
}

.register-welcome-text {
    font-size: 30px;
}

.register-title-margin {
    margin: 0px 6px 0px 8px;
}

.register-app-icon-margin {
    margin: 0px 12px 0px 0px;
}

.register-icons {
    font-size: 28px !important;
    color: slateblue;
    position: absolute;
    margin: 11px 0px 11px 12px;
}

.register-button {
    background-color: slateblue;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    margin: 8px 0px 0px 0px;
}

.register-buttons-margin {
    margin: 7px 0px;
}

.register-border {
    border-radius: 12px;
}

.register-shadow {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

