
/* --------------------------------------------------- */

.detail-snippet-container {
    border-style: solid;
    border-color: coral;
    padding: 15px;
    max-width: 850px;
}

.detail-snippet-divider {
    border: 1px solid #444;
}

.detail-snippet-center {
    padding: 20px;
    width: 750px;
}

.detail-snippet-date {
    color: teal;
    font-size: 12px;
}

.detail-snippet-block {
    background: lightcyan;
    margin: 15px 8px;
    min-width: 94px;
    padding: 10px;
}

.detail-snippet-user {
    max-width: 225px;
}

.detail-snippet-user-info {
    margin: 11px 0px 4px 0px;
}

.detail-snippet-block-descr {
    margin: 18px 5px 5px 5px;
    padding: 5px;
}

.detail-snippet-block-code {
    max-height: 580px;
    overflow: auto;
}

.detail-snippet-language-margin {
    margin: 0px 5px 0px 30px;
}
