/*
 * CSS used for the snippet feed --> snippetFeed.jsp
 */


.no-snippet {
    font-size: 30px;
    padding: 50px;
}


html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #cccccc;
    color: #333333;
}

.masonry-wrapper {
    padding: 1.5em;
    width: 100%;
}
.masonry {
    columns: 1;
    column-gap: 20px;
}

@media only screen and (max-width: 1223px) and (min-width: 868px) {  .masonry {
    columns: 2;
}
}
@media only screen and (min-width: 1224px) {
    .masonry {
        columns: 3;
    }
}