/*
 * General CSS stylesheet for the snippet --> snippetCard and snippetDetail
 */

.snippet-code-container {
    background: #DCDCDC;
    margin: 0px 5px 0px 5px;
    max-width: 700px;
    outline: dimgray;
    padding: 3px 20px 5px 20px;
    position: relative;
}

.snippet-language-tag {
    border: 2px #5e35b1 solid;
    color: #5e35b1;
    height: 45px;
    justify-content: center;
    padding: 10px;
}

.snippet-title-container {
    margin: 8px 0px 0px 0px;
}

.snippet-title {
    font-size: 33px;
    margin: 0px 5px;
}

.snippet-text {
    overflow-wrap: break-word;
}

.snippet-upload-spacing {
    justify-content: space-between;
    margin-right: 10px;
}

.snippet-upload-info {
    justify-content: space-around;
    margin: 0px 0px 0px 10px;
    text-decoration: none;
    color: #5e35b1;
}

.snippet-user-info {
    align-items: center;
}

.snippet-icon {
    font-size: 60px !important;
    color: lightgray;
    cursor: pointer;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;}

code {
    font-family: "Roboto Mono", 'New Courier', monospace;
    font-size: 13px;
}

img {
    border-radius: 50%;
    object-fit: fill;
    height: 45px;
    width: 45px;
}