/*
 * CSS used for the snippet feed --> snippetFeed.jsp
 */


.no-snippet {
    font-size: 30px;
    padding: 50px;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #cccccc;
    color: #333333;
}



article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

.masonry-wrapper {
    padding: 1.5em;
    width: 100%;
}
.masonry {
    column-gap: 20px;
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    margin-top: 0;
}

@media only screen and (max-width: 1223px) and (min-width: 868px) {
    .masonry {
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;    }
}
@media only screen and (min-width: 1224px) {
    .masonry {
        -webkit-column-count: 3; /* Chrome, Safari, Opera */
        -moz-column-count: 3; /* Firefox */
        column-count: 3;
    }
}