/*
 * CSS stylesheet for the snippet
 */

.snippet-code-container {
    background: #DCDCDC;
    margin: 0px 5px 0px 5px;
    outline: dimgray;
    padding: 5px 20px 5px 20px;
}

.snippet-title {
    font-size: 33px;
    margin: 8px 8px 0px
}

.snippet-text {
    font-family: "sans-serif";
    overflow-wrap: break-word;
}

.snippet-language-tag {
    border: 2px cadetblue;
    border-style: solid;
    color: cadetblue;
    padding: 10px;
    justify-content: center;
}

.snippet-upload-spacing {
    justify-content: space-between;
    margin-right: 10px;
}

.snippet-user-info {
    align-items: center;
}

.snippet-upload-info {
    justify-content: space-around;
    margin: 0px 0px 0px 10px;
}


pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;}

code {
    font-family: Courier, 'New Courier', monospace;
    font-size: 13px;
}

img {
    border-radius: 50%;
    height: 45px;
}