.snippet-detail-main-row {
    display:flex;
}
.snippet-detail-left-col {
    flex-basis: 5%;
    display: grid;
    align-items: center;
    background: lightgreen;
}
.snippet-detail-center-col {
    flex-basis: 60%;
    background: lightblue;
}
.vote-buttons {
    display: grid;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.vote-arrow {
    font-size: 60px !important;
    transition: 0.3s;
    cursor: pointer;
}

.vote-arrow:hover {
    box-shadow: 10px 10px 5px 0 rgba(168,155,168,1);
}

.hidden {
    visibility: hidden;
    height: 0px;
    width: 0px;
}
