
.tag-snippets-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 30px;
    grid-template-rows: max-content;
    padding: 40px;
}

.tag-snippets-title-line {
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
}

.tag-snippets-title {
    flex-grow: 1;
}

.tag-snippets-button {

}