
.all-tags-grid {
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.detail-grid {
    padding: 20px;
    grid-gap: 10px;
}

.main-grid {
    padding: 10px 40px;
    grid-gap: 20px;
}
